<nav class="nav-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        <ul class="nav">
          <li><a href="{{@blog.utl}}/">Home</a></li><li><a href="https://github.com/robmadden">About</a></li><li><a href="https://twitter.com/robmadd3n/">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
