<nav class="nav-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        {{navigation}}
      </div>
    </div>
  </div>
</nav>
