
<div class="theme-wrap">
  <div class="theme-toggle toggle-open">
    <span class="fa fa-cog"></span>
  </div>
  <div class="theme-changer">
    <div class="changer-inner">
      <h5>Color Scheme</h5>
      <ul class="colors">
        <li><a class="blue" href="javascript:chooseStyle('blue', 60)" title="Blue"></a></li>
        <li><a class="green" href="javascript:chooseStyle('green', 60)" title="Green"></a></li>
        <li><a class="dark-purple" href="javascript:chooseStyle('dark-purple', 60)" title="Dark Purple"></a></li>
        <li class="new-line"></li>
        <li><a class="red" href="javascript:chooseStyle('red', 60)" title="Red"></a></li>
        <li><a class="yellow" href="javascript:chooseStyle('yellow', 60)" title="Yellow"></a></li>
        <li><a class="columbia-blue" href="javascript:chooseStyle('columbia-blue', 60)" title="Yellow"></a></li>
      </ul>
    </div>
  </div>
</div>
